@import "tailwindcss";

:root {
  --maroon: #9c0035;
  --orange: #f56700;
  --footer-orange: #e65508;
  --ivory: #FFF5EE;
  --teal: #0D98BA;
  --grey: #ECE9E9;

  --background-gradient: linear-gradient(180deg, var(--maroon) 0%, var(--orange) 100%);
  --footer-gradient: linear-gradient(180deg, var(--footer-orange) 0%, var(--maroon) 100%);
}


body {
  background: var(--background-gradient);
  font-family: var(--font-poppins), sans-serif;
}

.subheading {
  font-family: var(--font-pacifico), serif;
}

.description {
  font-family: var(--font-poppins), sans-serif;
}

.footer {
  background: var(--footer-gradient);
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-x-180 {
  transform: rotateX(180deg);
}