@import "tailwindcss";

:root {
  --maroon: #9c0035;
  --orange: #f56700;
  --ivory: #FFFFFD;
  --teal: #0D98BA;
  --grey: #ECE9E9;

  --background-gradient: linear-gradient(180deg, var(--maroon) 0%, var(--orange) 100%);
}


body {
  background: var(--background-gradient);
  font-family: var(--font-poppins), sans-serif;
}

.subheading {
  font-family: var(--font-pacifico), serif;
}

.description {
  font-family: var(--font-poppins), sans-serif;
}